<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PanicCall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="False"/>
    </defaultProxy>
  </system.net>
    <userSettings>
        <PanicCall.Properties.Settings>
            <setting name="IsButtonMoveLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMapMoveLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMapScaleLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAdminLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="PortSelect" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="nBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="nDvrSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsMatrixView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nViewButtonText" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IsAutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nMatrixSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nPresetSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsPresetMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDeviceSms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPanicSms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCameraSms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNetwork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPcPanicStop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAutoSearchPanicButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsEvPanic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEvPanicAlways" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPanicSmartphone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartServerIP" serializeAs="String">
                <value/>
            </setting>
            <setting name="DebugPassword" serializeAs="String">
                <value>twowinscom</value>
            </setting>
            <setting name="IsReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInterphoneCharComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastBackupDate" serializeAs="String">
                <value/>
            </setting>
        </PanicCall.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
