<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro.IconPacks" version="4.2.0" targetFramework="net45" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="4.2.0" targetFramework="net45" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="OpenCvSharp3-AnyCPU" version="4.0.0.20181129" targetFramework="net46" />
</packages>